@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
.blue{
    color:rgb(14, 14, 172);
    border-color: rgb(14, 14, 172);
}
.red{
    color:rgb(189, 17, 17);
    border-color: rgb(189, 17, 17);
}
.orange{
    color:rgb(171, 117, 18);
    border-color: rgb(171, 117, 18);
}
.purple{
    color:purple;
    border-color: purple;
}